<div class="row home-row">
  <div layout="row">
    <div class="input-field col s6">
      <input type="text" id="query" ng-model="query" ng-model-options="{debounce: 750}" placeholder="Enter a Search Term"/>
      <label class="active" for="query">search</label>
    </div>
  </div>
  <div class="col s12 l4 card-parent" ng-repeat="listing in (listings | filter:query | orderBy:'updatedAt':true)">
    <div ng-if="listing.status == false" class="card grey lighten-5">
      <div class="card-image">
        <a href="/listing/{{listing.id}}">
          <img class="responsive-img" ng-src="{{listing.images[0].url}}">
        </a>
      </div>
      <h6 class="listing-timestamp"><em>{{listing.timestamp}}</em><div class="divider timestamp-divider"></div></h6>
      <div class="card-content black-text">
        <h6>{{listing.brand | uppercase | cut:true:30}}</h6>
        <a href="/listing/{{listing.id}}">
          <h6>{{listing.title}}</h6>
        </a>
        <p>${{listing.price}} | <em><a href="/user/{{listing.user.id}}">{{listing.user.username}}</a></em></p>
      </div>
    </div>
  </div>
</div>