<div class="row home-row">
  <div layout="row">
    <div class="input-field col s6">
      <input type="text" id="query" ng-model="query" placeholder="Enter a Search Term"/>
      <label class="active" for="query">search</label>
    </div>
  </div>
  <div class="col s3" ng-repeat="listing in (listings | filter:query | orderBy:'updatedAt':true)">
    <div ng-if="listing.status == false" class="card grey lighten-5">
      <div class="card-image">
        <img ng-src="{{listing.images[0].url}}">
        <span class="card-title flow-text">
          <h6>{{listing.brand}}</h6>
          <div class="divider"></div>
          <a href="/listing/{{listing.id}}"><h6>{{listing.title}}<br\></a>
          <em><a href="/user/{{listing.user.id}}">{{listing.user.username}}</a></em></h6>
        </span>
      </div>
      <div class="card-content black-text">
        <p> {{listing.category}} </p>
        <p>${{listing.price}}</p>
      </div>
    </div>
  </div>
</div>

