<nav class="blue-grey darken-4">
  <div class="nav-wrapper" ng-controller="NavCtrl">
    <a href="/" class="brand-logo waves-effect waves-light btn-flat nav-btn">hardware ascender</a>
    <a ng-if="$root.isMobile"href="#" ng-click="toggleMobileNav()" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <a class="inbox-btn waves-effect waves-light right" href="#" ng-click="toggleInbox()" ng-if="currentUser">inbox<span ng-show="$root.receivedCount" class="badge notification-badge">{{$root.receivedCount}}</span></a>
    <ul ng-if="!$root.isMobile" id="nav" class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light btn-flat nav-btn" href="/#/listing/new" ng-if="currentUser">Sell</a></li>
      <li><a class="waves-effect waves-light btn-flat nav-btn" href="#" ng-click="$root.showLogin($event)" ng-if="!currentUser">Login</a></li>
      <li><a class="waves-effect waves-light btn-flat nav-btn" href="#" ng-click="logout()" ng-if="$root.currentUser">Logout</a></li>
      <li><a class="waves-effect waves-light btn-flat nav-btn" href="/user/{{currentUser.id}}" ng-if="currentUser">Hello, {{currentUser.username}} </a></li>
      <li><a class="waves-effect waves-light btn-flat nav-btn" href="#" ng-click="$root.showSignup($event)" ng-if="!currentUser">Join</a></li>
    </ul>
<!--     <ul id="nav-message" class="side-nav">
      <div class="row">
        <div class="col s12">
          <a class="inbox-btn show-on-large waves-effect waves-light" href="#" data-activates="nav-message">go back to inbox</a>
          <div class="divider"></div>
        </div>
      </div>
    </ul> -->
  </div>
</nav>
<section layout="row" id="sideNavSection" flex ng-controller="InboxNavCtrl">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="nav-inbox" id="nav-inbox">
    <div class="row">
      <div class="col s12">
        <h5 class="message"> inbox </h5>
        <div class="divider"></div>
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#received">Received <span ng-show="$root.receivedCount" class="badge sidenav-badge">{{$root.receivedCount}}</span></a></li>
          <li class="tab col s3"><a href="#sent">Sent ({{$root.messages.length}})</a></li>
        </ul>
      </div>
      <div id="received" class="col s12">
        <ul>
          <li class="message" ng-repeat="message in $root.received"><span ng-if="message.status" class="badge new"></span><a href="#" data-activates="nav-message" ui-sref="{{message.type}}" ng-click="navMessage(message.id)">{{message.messageTitle}}</a><a href="/user/{{message.sender}}">{{message.sender.user}}</a></li>
        </ul>
      </div>
      <div id="sent" class="col s12">
        <ul>
          <li class="message" ng-repeat="message in $root.messages"><a href="#" data-activates="nav-message">{{message.messageTitle}}</a></li>
        </ul>
      </div>
    </div>
  </md-sidenav>

  <md-sidenav flex class="md-sidenav-left md-whiteframe-z2" md-component-id="nav-messages" id="nav-messages">
    <div class="row">
      <p><a class="waves-effect waves-light btn right" ng-click="$root.toggleMessage()">back to inbox</a></p>
      <div class="col s12">
        <h5 class="message"> {{$root.msg.messageTitle}}</h5>
        <div class="divider"></div>
        <div ui-view></div>
      </div>
    </div>
  </md-sidenav>
  <md-sidenav flex class="md-sidenav-left md-whiteframe-z2" md-component-id="mobile-nav" id="mobile-nav" class="side-nav">
    <div class="row">
      <div class="col s12">
        <a class="waves-effect waves-light mobile-nav-btn" href="/#/listing/new" ng-if="currentUser">Sell</a>
        <a class="waves-effect waves-light mobile-nav-btn" href="#" ng-click="$root.showLogin($event)" ng-if="!currentUser">Login</a>
        <a class="waves-effect waves-light mobile-nav-btn" href="#" ng-click="$root.logout()" ng-if="currentUser">Logout</a>
        <a class="waves-effect waves-light mobile-nav-btn" href="/user/{{currentUser.id}}" ng-if="currentUser">Hello, {{currentUser.username}} </a>
        <a class="waves-effect waves-light mobile-nav-btn" href="#" ng-click="$root.showSignup($event)" ng-if="!currentUser">Join</a>
      </div>
    </div>
  </md-sidenav>
</section>
<div class="container">
  <ng-view></ng-view>
</div>