<div class="row">
  <h2> new listing </h2>
  <div class="divider"></div>
  <form>
    <div class="listing-form col s12">
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="brand" placeholder="e.g. Nvidia" id="brand" type="text" class="validate">
          <label class="active" for="brand">brand</label>
        </div>
        <div class="input-field col s12">
          <input ng-model="desc" placeholder="e.g. This card runs HOT!" id="desc" type="text" class="validate">
          <label class="active" for="desc">description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="title" placeholder="e.g. geforce gtx titan x" id="title" type="text" class="validate">
          <label class="active" for="title">title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label class="active">Category</label>
          <br\>
          <select ng-model="category" class="browser-default">
            <option value="" disabled selected>Pick One</option>
            <option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="price" placeholder="e.g. 499 Martian Credits" id="price" type="text" class="validate">
          <label class="active" for="price">price <em>(all prices are in usd)</em></label>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field">
          <input ng-model="images" placeholder="or paste a URL here" id="images" type="text" class="file-path validate">
          <div class="waves-effect waves-light btn">
            <span><i class="mdi-file-file-upload"></i></span>
            <input id="imageupload" type="file" ng-file-select ng-multiple="true" title="upload" resetOnClick="true" ng-model="images">
          </div>
          <label class="active" for="imageupload">upload image(s)</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light btn" type="submit" name="action" ng-click="createListing()">create</button>
        <button ng-click="(title || desc || price || images) ? openModal() : goTo('/')" class="btn waves-effect waves-light btn">cancel</button>
      </div>
    </div>
  </form>
</div>

