<div class="row">
  <h2> new listing </h2>
  <div class="divider"></div>
  <form enctype="multipart/form-data">
    <div class="listing-form col s12">
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="brand" placeholder="e.g. Nvidia" id="brand" type="text" class="validate">
          <label class="active" for="brand">brand</label>
        </div>
        <div class="input-field col s12">
          <textarea ng-model="desc" placeholder="e.g. This card runs HOT!" id="desc" type="text" class="validate"></textarea>
          <label class="active" for="desc">description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="title" placeholder="e.g. geforce gtx titan x" id="title" type="text" class="validate">
          <label class="active" for="title">title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label class="active">Category</label>
          <br\>
          <select ng-model="category" class="browser-default">
            <option value="" disabled selected>Pick One</option>
            <option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="price" placeholder="e.g. 499 Martian Credits" id="price" type="text" class="validate">
          <label class="active" for="price">price <em>(all prices are in usd)</em></label>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field">
          <div class="waves-effect waves-light btn">
            <span><i class="mdi-file-file-upload"></i></span>
            <input type="file" id="imageUpload" title="upload" nv-file-select="" uploader="uploader" multiple>
            <!-- <input id="imageupload" type="file" title="upload" resetOnClick="true" ng-model="images">
            {{images}} -->
          </div>
          <label class="active" for="imageupload">upload image(s)</label>
        </div>
         <div class="col s-6 right">
          <ul>
            <li ng-repeat="image in uploader.queue">
              <div ng-if="isImage(image._file)">
              <div ng-thumb="{file: image._file, height: 100}"></div>
              </div>
            </li>
          </ul>
          </div>
      </div>
      <div ng-show="uploader.progress" layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="determinate" value="{{uploader.progress}}"></md-progress-circular>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light btn" type="submit" name="action" ng-click="createListing()">create</button>
        <button ng-click="(title || desc || price || images) ? openModal() : goTo('/')" class="btn waves-effect waves-light btn">cancel</button>
      </div>
    </div>
  </form>
</div>

