<div class="row">
  <div class="col s5 text-center center-align">
    <img src="https://placekitten.com/300/300?image=13">
    <div class="divider"></div>
    <p class="text-flow"> <a href="/api/user/{{listing.user.id}}"> view other listings from {{listing.user.username}} </a> </p>
  </div>
  <div class="col s7">
    <h5 class="text-flow"> {{listing.brand}} </h5>
    <div><h4 class="text-flow"> {{listing.title}} <em class="title-price">(${{listing.price}})</em></h4></div>
    <div class="divider"></div>
    <p> {{listing.desc}} </p>
    <a ng-click="showBuy()" class="waves-effect waves-teal btn-flat">buy</a>
    <a ng-click="showOffer()" class="waves-effect waves-teal btn-flat">make an offer</a>
    <a ng-click="showQuestion()" class="waves-effect waves-teal btn-flat">ask a question</a>
  </div>
</div>