body {
  font-family: 'Cantarell', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
  outline: none;
}

.container {
  width: 85%;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

md-progress-circular {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  padding-top: 0!important;
  margin-bottom: 0!important;
  overflow: hidden;
  top: 50%;
  left: 50%;
}

.toolbar {
  color: white;
}

img.logo {
  max-height: inherit;
  height: inherit;
  width: inherit;
}

.nav-btn {
  height: inherit;
  padding: 1em;
  color: whitesmoke;
  display: block;
}

.nav-tabs {
  position: relative;
  height: 48px;
  background-color: #fff;
  width: 100%;
  white-space: nowrap;
  left: 12%;
  margin-top: 6%;
}

.nav-tabs.inactive {
  position: relative;
  height: 48px;
  background-color: #fff;
  width: 100%;
  white-space: nowrap;
  left: 0;
  margin-top: 6%;
}

.read {
  font-weight: normal;
}

.unread {
  font-weight: bold;
}

.mobile-nav-btn {
  height: inherit;
  padding: 1em;
  color: black;
  display: block;
}

md-dialog {
  min-width: 60%;
  min-height: 60%;
}

.loginFormInput {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2px 20px 26px;
}

.login-form-submit {
  color: black;
}

nav {
  min-height: 64px;
}

nav .brand-logo {
  line-height: inherit;
}

nav.brand-logo {
  padding-left: 2% !important;
  padding-right: 2% !important;
}

.brand-logo {
  font-family: 'Fjalla One', sans-serif;
  color: black;
  height: 128px;
  padding-top: 3%;
  width: 100%;
  z-index: 1;
  background-color: #263238;
}

.logo-divider {
  height: 1px;
  width: 70%;
  left: 15%;
  overflow: hidden;
  position: absolute;
  background-color: #e1e1e1;
  color: #e0e0e0;
  top: 80px;
  z-index: 4;
}

h6.logo {
  position: absolute;
  font-size: 2em;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 0;
}

h6.logo-right {
  position: absolute;
  font-size: 2em;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 0;
  left: 10%;
  color: #c1c1c1;
}

h6.logo-left {
  position: absolute;
  font-size: 2em;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 0;
  right: 10%;
  color: #e1e1e1;
}

.notification {
  color: red;
}

.timestamp {
  font-size: 10px;
}

ng-view {
  position: absolute;
  top: 12.5%;
  left: 5%;
  margin-left: 1%;
  margin-right: 5%;
  width: 88%;
}

ng-view.ng-enter {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

ng-view.ng-leave {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.card-parent.ng-enter {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.card-parent.ng-hide {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.card-parent.ng-enter-stagger,
.card-parent.ng-hide-stagger {
  transition-delay:0.2s;
  -webkit-transition-delay:0.2s;
  -webkit-transition-duration:0;
  transition-duration:0;
}

.card {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
  height: 300px;
}

.card .card-content {
  bottom: 0;
  left: 0;
  position: absolute;
  min-width: 100%;
}

.card-image {
  height: 60%;
}

.card .card-image .card-title {
  position: absolute;
  bottom: 2%;
  left: 0;
  padding: 20px;
  min-width: 100%;
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,.25) , rgba(0,0,0,0));
  background: -o-linear-gradient(bottom, rgba(0,0,0,.25) , rgba(0,0,0,0));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,.25) , rgba(0,0,0,0));
  background: linear-gradient(bottom, rgba(0,0,0,.25) , rgba(0,0,0,0));
}

img.responsive-img {
  max-height: 100% !important;
}

.divider.timestamp-divider {
  position: relative;
  float: right;
  width: 70%;
  top: 0.77em;
}

.listing-timestamp {
  font-size: 10px;
  margin-left: 3%;
}

.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: 5%;
}

.container .home-row {
  margin-left: none;
  margin-right: none;
}

em.title-price.ng-binding {
  font-size: large;
}

.badge.notification-badge {
  right: 7px;
  color: #fff;
  background-color: #26a69a;
  border-radius: 0.25em;
  margin-left: 0%;
  position: relative;
  top: -23px;
}

i.mdi-communication-forum.inbox {
  font-size: 30px;
}

.badge.notification-badge.inactive {
  visibility: hidden;
  right: 7px;
  color: #fff;
  background-color: #26a69a;
  border-radius: .25em;
  margin-left: 0%;
  position: relative;
  top: -24px;
}

.badge.sidenav-badge {
  left: 10px;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px;
  margin-left: 0;
  position: relative;
}

.message {
  color: black;
}

#nav-inbox {
  width: 45% !important;
  max-width: 45% !important;
  min-width: 45% !important;
  position: fixed;
}

.inbox {
  display: inline;
}

td.received-message {
  cursor: pointer;
}

md-select.category-select {
  width: 100%;
}

#nav-messages {
  width: 65% !important;
  max-width: 65% !important;
  min-width: 65% !important;
}

#sideNavSection {
  max-height: 0;
}

.price-input {
  width: 95% !important;
  margin-left: 1% !important;
  display: inline;
}
.price-addon {
  display: inline;
}

/**********************/

.listing-image {
  max-width: 100%;
  overflow:hidden;
}

.image {
  max-width: 100%;
}

.arrow {
    cursor: pointer;
    display: block;
    height: 64px;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 50%;
    width: 64px;
    z-index: 5;
}
.arrow.prev {
    left: 20px;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
}
.arrow.next {
    opacity: 0.2;
    right: 20px;
    transition: all 0.2s linear 0s;
}
.arrow.prev:hover{
    opacity:1;
}
.arrow.next:hover{
    opacity:1;
}

.nav {
    bottom: -4px;
    display: block;
    height: 100%;
    left: 0;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
}
.nav li {
    border: .5px solid #AAAAAA;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    max-height: 50px;
    margin: 0 8px;
    position: relative;
    max-width: 50px;
}
.nav li img {
    width: 100%;
}

.slider {
    border: 15px solid #FFFFFF;
    border-radius: 5px;
    height: 500px;
    margin: 20px auto;
    position: relative;
    width: 500px;
}
.slide {
    position: relative;
    top: 0;
    left: 0;
}
.slide.ng-hide-add {
    opacity:1;
}
.slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slide.ng-hide-remove {

    display:block!important;
    opacity:0;
}
.slide, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

.listing-images {
  max-height: 100px;
}
/*
nav a {
  padding: 0 0 0 10px;
  margin-top: -10px;
}

nav ul {
  margin-top: 0px;
  height: inherit;
}

nav ul li {
  margin-top: 0px;
  height: inherit;
}*/